.h1{
    color: blueviolet;
}

.estilomono{
    width: 100%;
    background-color: blue;
    border: solid;
}

.menu{
    background-color: rgb(125, 126, 134);
}

.l2{
    background-color: yellowgreen;
    width: 2%;
}